<p>Linked Signal Example</p>
<app-linked-signal />

<p>Effects Example</p>
<app-effects [fetchById]="fetchById()"/>
<button (click)="fetch()">Fetch</button>

<p>Template Let Example</p>
<app-template-let />

<p>After Render Effects Example</p>
<app-after-render [input]="afterRenderInput()" />
<button (click)="changeAfterRenderInput()">Change Input</button>

<p>Router outlet data Example</p>
<router-outlet [routerOutletData]="routerOutletData" />
<button (click)="changeRouterOutletData()">Change Router Outlet Data</button>

<p>Resource Example</p>
<app-resource />

<app-undefined-checks />

